<div class="admin-content">
    <div class="form">
            <div class="form__networks">
                 <h3 class="registration__form--title">Данные пациента</h3>
                        <form action="">               
                        <label>Фамилия<input type="text" name="1" [(ngModel)]="data.patient.firstName"  [value]="data.patient.firstName"></label>
                        <label>Имя<input type="text" name="2" [(ngModel)]="data.patient.lastName"  [value]="data.patient.lastName"></label>
                        <label>Отчество<input type="text" name="3" [(ngModel)]="data.patient.middleName"  [value]="data.patient.middleName"></label>
                        <label>Возраст<input type="text" name="4" [(ngModel)]="data.patient.age"  [value]="data.patient.age"></label>
                        <label>Вес<input type="text" name="5" [(ngModel)]="data.patient.weight"  [value]="data.patient.weight"></label>
                        <label>Рост<input type="text" name="6" [(ngModel)]="data.patient.height"  [value]="data.patient.height"></label>
                        <label>Пол<input type="text" name="7" [(ngModel)]="data.patient.sex"  [value]="data.patient.sex"></label>
                        <label>Мобильный телефон<input type="text" name="8" [(ngModel)]="data.patient.phoneNumber"  [value]="data.patient.phoneNumber"></label>
                        <label>Домашний телефон<input type="text" name="9" [(ngModel)]="data.patient.homeNumber" [value]="data.patient.homeNumber"></label>
                        <label>Email<input type="email" name="10" [(ngModel)]="data.patient.email" [value]="data.patient.email" disabled></label>
                        <label>Состояние<input type="text" name="11" [(ngModel)]="data.patient.condition" [value]="data.patient.condition"></label>
                        <!--<label>Доктор<input type="text"  name="12"[(ngModel)]="data.patient.doctor" [value]="data.patient.doctor"></label> -->   
                        <br/><br/>

                        <label>Прикрепить кардиограмму<br/><input (change)="uploadGraph($event.target.files)" type="file"></label>
                        <label class="cl">{{warning}}</label>                                                                                                   
                            <div class="button">
                        <button class="btn submit" (click)="close()" >Назад</button>
                        <button class="btn submit" (click)="update()" [disabled] = "dis">Подтвердить изменения</button>
                        <button class="btn submit" (click)="delete()" >Удалить пациента</button>
                             </div>                             
                    </form>  
             </div>                
    </div>
</div>

  