.mainGraph {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
    height: 800px;
    position: absolute;
    background-color: rgb(249, 250, 249);
    z-index: 999999;
}
.ct-chart  {
    width: 800px;
    height: 400px;
}