 <!-- slider-->
 <div class="slider">
   <a ><img src="../../../assets/images/pravayastrelochka.png" class="nxt_b" height="50" width="50" alt=""></a>
   <a ><img src="../../../assets/images/levayastrelochka.png" class="prv_b" height="50" width="50" alt=""></a>
   <ul class="slides">
      <li>
        <img src="../../../assets/images/a.jpg"> 
        <div class="caption center-align">
          <h3 class="light grey-text text-lighten-3">This is our big Tagline!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
      </div>
  </li>
  <li>
    <img src="../../../assets/images/b.jpg"> 
    <div class="caption center-align">
      <h3>Left Aligned Caption</h3>
      <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
  </div>
</li>
<li>
    <img src="../../../assets/images/c.jpg"> 
    <div class="caption center-align">
      <h3>Right Aligned Caption</h3>
      <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
  </div>
</li>
<li>
    <img src="../../../assets/images/d.jpg"> 
    <div class="caption center-align">
      <h3>This is our big Tagline!</h3>
      <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
  </div>
</li>
<li>
    <img src="../../../assets/images/e.jpg"> 
    <div class="caption center-align">
      <h3>Right Aligned Caption</h3>
      <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
  </div>
</li>
</ul>
</div>


<section class="advantages">
    <div class="container">
        <div class="row valign-wrapper">
            <div class="col l3 left-align">
                <h2 class="advantages__title">О Нас</h2>
            </div>
            <hr class="col l8 m6">
            <div class="col l1 right-align">
                <a href="#" class="advantages__next">читать далее</a>
            </div>
        </div>


        <div class="row">
            <div class="col l3 m6 s12">
                <img class="advantage__img" src="../../../assets/images/comfort.png"> 
                <h3 class="advantages__card--title">УДОБСТВО</h3>
                <p class="advantages__info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis possimus, eligendi a veritatis odio optio deleniti.</p>
            </div>
            <div class="col l3 m6 s12">
                <img class="advantage__img" src="../../../assets/images/comfort.png"> 
                <h3 class="advantages__card--title">АКТУАЛЬНОСТЬ</h3>
                <p class="advantages__info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis possimus, eligendi a veritatis odio optio deleniti.</p>
            </div>
            <div class="col l3 m6 s12">
                <img  class="advantage__img" src="../../../assets/images/comfort.png">    
                <h3 class="advantages__card--title">ДИАГНОСТИКА</h3> 
                <p class="advantages__info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis possimus, eligendi a veritatis odio optio deleniti.</p>
            </div>
            <div class="col l3 m6 s12">
               <img  class="advantage__img" src="../../../assets/images/comfort.png">   
               <h3 class="advantages__card--title">АНАЛИЗ</h3>  
               <p class="advantages__info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis possimus, eligendi a veritatis odio optio deleniti.</p>
           </div>
       </div> 
       <div class="row">
        <div class="col l3 m6 s12">
            <img class="advantage__img" src="../../../assets/images/comfort.png"> 
            <h3 class="advantages__card--title">УДОБСТВО</h3>
            <p class="advantages__info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis possimus, eligendi a veritatis odio optio deleniti.</p>
        </div>
        <div class="col l3 m6 s12">
            <img class="advantage__img"  src="../../../assets/images/comfort.png"> 
            <h3 class="advantages__card--title">АКТУАЛЬНОСТЬ</h3>
            <p class="advantages__info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis possimus, eligendi a veritatis odio optio deleniti.</p>
        </div>
        <div class="col l3 m6 s12">
            <img class="advantage__img"  src="../../../assets/images/comfort.png">    
            <h3 class="advantages__card--title">ДИАГНОСТИКА</h3> 
            <p class="advantages__info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis possimus, eligendi a veritatis odio optio deleniti.</p>
        </div>
        <div class="col l3 m6 s12">
           <img class="advantage__img"  src="../../../assets/images/comfort.png">   
           <h3 class="advantages__card--title">АНАЛИЗ</h3>  
           <p class="advantages__info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis possimus, eligendi a veritatis odio optio deleniti.</p>
       </div>
   </div> 
</div>
</section>

<br/><br/><br/>
<section class="registration">
    <div class="container">
        <div class="row">
            <div class="col l6 m6 registration__info">
                <img src="../../../assets/images/map.jpg" alt="Наше местоположение" style="width:100%">
                <h2 class="registration__info--title center-align">Онлайн запись в удобном</h2>
                <h2 class="registration__info--title right-align">личном кабинете</h2>
                <h3 class="registration__info--subtitle right-align">Войти/Создать аккаунт</h3>
                <img src="../../../assets/images/arrow.png" class="right registration__info--arrow" alt="">
            </div>
            <div class="col l6 m6 registration__form">
                <h2 class="registration__form--title">Создай аккаунт сейчас</h2>
                <div class="registration__btns">
                <a class="waves-effect waves-light btn twitter">
                    TWITTER
                </a>
                <a class="waves-effect waves-light btn facebook">
                    Facebook
                </a>
                <a class="waves-effect waves-light btn google">
                    Google+
                </a>
                </div>
                <hr>
                <form [formGroup]="form" (ngSubmit)="onSubmit()" class="login-form">
                    <div *ngIf="form.errors?.register" class="error-panel help-block"> <span class="cl"> {{form.errors.register}} </span></div> 
                    <div *ngIf="!form.errors?.register" class="help" > f </div> 

                    <div class="form-group" [ngClass]="{ 'has-error has-feedback' : hasError('Username') }"> 
                    <input type="text" required  formControlName="Username" class="form-control" placeholder="Логин">
                    <div *ngIf="hasError('Username')" class="help-block"> <span class="cl"> Введите логин.  </span></div>
                    <div *ngIf="!hasError('Username')" class="help"> Введите логин. </div>
                    </div>

                    <div class="form-group" [ngClass]="{ 'has-error has-feedback' : hasError('Email') }"> 
                    <input type="email" required  formControlName="Email" class="form-control" placeholder="Ваш email">
                    <div *ngIf="hasError('Email')" class="help-block"> <span class="cl"> Введите адрес электронной почты.  </span></div>
                    <div *ngIf="!hasError('Email')" class="help"> Введите адрес электронной почты. </div>
                    </div>

                    

                    <div class="form-group" [ngClass]="{ 'has-error has-feedback' : hasError('Password') }">
                    <input type="password" required formControlName="Password" class="form-control" placeholder="Пароль">                 
                    <div *ngIf="hasError('Password')" class="help-block"> <span class="cl"> Введите пароль.  </span></div>
                    <div *ngIf="!hasError('Password')" class="help"> Введите пароль. </div>
                    </div>

                    <br>
        
                        <button type="submit" [disabled]="form.invalid" class="btn btn-md reg_btn"> Регистрация </button>
                </form>
            </div>
        </div>
    </div>
</section>


<section class="doctors">
    <div class="container">
        <div class="row valign-wrapper">
            <div class="col l6">
                <h2 class="doctors__subtitle">Наши</h2>
                <h2 class="doctors__title">квалифицированные доктора</h2>
            </div>
            <hr class="col l3 m6">
            <div class="col l3 right-align">
                <a href="#" class="record purple-text accent-4"><i class="material-icons">date_range</i> Записаться на приём</a>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m4">
                <div class="card">
                    <div class="card-image">
                        <img src="../../../assets/images/c.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title">Максим Иванов</span>
                        <p>I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively.</p>
                    </div>
                    <div class="card-action">
                        <a class="purple-text accent-4" href="#">Узнать больше</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card">
                    <div class="card-image">
                        <img src="../../../assets/images/b.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title">Екатерина Петрова</span>
                        <p>I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively.</p>
                    </div>
                    <div class="card-action">
                        <a class="purple-text accent-4" href="#">Узнать больше</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card">
                    <div class="card-image">
                        <img src="../../../assets/images/a.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title">Иван Сидоров</span>
                        <p>I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively.</p>
                    </div>
                    <div class="card-action">
                        <a class="purple-text accent-4" href="#">Узнать больше</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="news">
    <div class="container">
        <div class="row valign-wrapper">
            <div class="col l6 m6">
                <h2 class="news__subtitle">Просмотрите наши</h2>
                <h2 class="news__title">Последние новости и события</h2>
            </div>
            <hr class="col l3 m3">
            <div class="col l3 m3 right-align">
                <a href="#">ПРОСМОТРЕТЬ ПОЛНОСТЬЮ</a>
            </div>
        </div>
        <div class="row">
            <div class="col m3 l3">
                <img class="card__image" src="../../../assets/images/b.jpg" alt="">
                <h2 class="card__title">Название события</h2>
                <span class="card__author">Автор статьи</span>
                <span class="card__date">Дата</span>
                <p class="card__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam repudiandae sequi sint saepe iste</p>
                <a class="card__link">Читать далее</a>
            </div>
            <div class="col m3 l3">
                <img class="card__image" src="../../../assets/images/b.jpg" alt="">
                <h2 class="card__title">Название события</h2>
                <span class="card__author">Автор статьи</span>
                <span class="card__date">Дата</span>
                <p class="card__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam repudiandae sequi sint saepe iste</p>
                <a class="card__link">Читать далее</a>
            </div>
            <div class="col m3 l3">
                <img class="card__image" src="../../../assets/images/b.jpg" alt="">
                <h2 class="card__title">Название события</h2>
                <span class="card__author">Автор статьи</span>
                <span class="card__date">Дата</span>
                <p class="card__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam repudiandae sequi sint saepe iste</p>
                <a class="card__link">Читать далее</a>
            </div>
            <div class="col m3 l3">
                <img class="card__image" src="../../../assets/images/b.jpg" alt="">
                <h2 class="card__title">Название события</h2>
                <span class="card__author">Автор статьи</span>
                <span class="card__date">Дата</span>
                <p class="card__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam repudiandae sequi sint saepe iste</p>
                <a class="card__link">Читать далее</a>
            </div>
        </div>
    </div>
</section>


<section class="faq blue-grey darken-4">
    <div class="container">
        <div class="faq__content center-align white">
            <h4>Ответы на</h4>
            <h3>Часто задаваемые вопросы</h3>
            <hr>
            <div class="row center-align valign-wrapper">
                <div class="col m1">
                    <img src="../../../assets/images/levayastrelochka.png" alt="" class="prev-q">
                </div>
                <p class="col m10">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam officiis ducimus illo nesciunt corrupti, repellendus soluta quis excepturi! Mollitia nostrum aspernatur blanditiis hic quae. Exercitationem libero sunt nobis quos accusantium.</p>
                <div class="col m1">
                    <img src="../../../assets/images/pravayastrelochka.png" alt="" class="next-q">
                </div>
            </div>
        </div> 
    </div>
</section>



