<div class="searchform">
	<form class="form-wrapper">
		<input class="name" type="text" id="search" placeholder="Full Name" required>
		<input class="mail" type="text" id="search" placeholder="Email" required>
	</form>    
</div>
<div class="f"> 
<a class="btn btn-md btn-success btn-block btn-signin" (click)="createPatient()" >Добавить пациента</a>
</div>
<div class="tableform">
	<div class="table1" >

		<table class="usertable">
			<thead>
				<tr ><th >Full Name</th><th>Age</th><th>Email</th><th>Mobile</th><th>Cardiogram</th></tr>
			</thead>

			<tbody class="parent" >
				
			</tbody>
		</table>
	<div class="pagination">
		
	</div>
</div>
</div>
        


