
footer{
    font-size: 12px;
    
}
footer h5 {
    font-size:15px;
    margin: 20px;
    color: white;
}

footer a {
    color:#a9b7c6;
}

footer a:hover {
    color:#ffffff;
}

hr {
    opacity:0.1;
}

.subscribe-email {
    
    width:76% !important;
    background-color:#3f4e5f !important;
    color:white;
}

.subscribe-submit {
    padding:6% 10%;
    background-position: center center !important;
    background-size: cover !important;
    border:none;
}
p.center {
    margin-bottom: 0;
    padding-bottom: 10px;
}
/* CALL BLOCK */
.call {
    padding:40px 0;
}

.call .container {
    display:flex;
    justify-content:space-between;
    align-content: center;
    flex-wrap:wrap;
}

.call__text {
    width:32%;
}

.call__button {
    width:10%;
}

.call__number {
    width:31%;
}

.call .call__title {
    font-size:24px;
    margin:0;
}

.call h2 {
    margin:0;
    font-size:36px;
}

.call h3 {
    margin:0;
    font-size:14px;
    color:white;
    text-transform: uppercase;
}

.call p {
    margin:0;
}

.call .material-icons {
    font-size:48px;
}

@media screen and (max-width: 1024px) {
    .advantage__img{
        float: left;
        padding: 3%;
        vertical-align:middle;
    }
    .call .container {
        flex-direction: column;
    }

    .call__button, .call__text,.call__number {
        width:100%;
        margin-bottom:20px;
    }

    footer h5 {
        font-size:15px;
        margin-top:20px;
        margin-bottom:30px;
    }

    footer .col.l3.m6.s12 {
        height:270px;
    }
    .registration__btns {
        display:flex;
        flex-direction:column;
        width:30%;
    }

}