<div class="admin-content">
    <div class="form">
            <div class="form__networks">
                 <h3 class="registration__form--title">Данные доктора</h3>
                        <form action="">               
                        <label>Фамилия<input type="text" name="1" [(ngModel)]="data.doctor.firstName"  [value]="data.doctor.firstName"></label>
                        <label>Имя<input type="text" name="2" [(ngModel)]="data.doctor.lastName"  [value]="data.doctor.lastName"></label>
                        <label>Отчество<input type="text" name="3" [(ngModel)]="data.doctor.middleName"  [value]="data.doctor.middleName"></label>
                        <label>Возраст<input type="text" name="4" [(ngModel)]="data.doctor.age"  [value]="data.doctor.age"></label>
                        <label>Вес<input type="text" name="5" [(ngModel)]="data.doctor.weight"  [value]="data.doctor.weight"></label>
                        <label>Рост<input type="text" name="6" [(ngModel)]="data.doctor.height"  [value]="data.doctor.height"></label>
                        <label>Пол<input type="text" name="7" [(ngModel)]="data.doctor.sex"  [value]="data.doctor.sex"></label>
                        <label>Мобильный телефон<input type="text" name="8" [(ngModel)]="data.doctor.phoneNumber"  [value]="data.doctor.phoneNumber"></label>
                        <label>Домашний телефон<input type="text" name="9" [(ngModel)]="data.doctor.homeNumber" [value]="data.doctor.homeNumber"></label>
                        <label>Email<input type="email" name="10" [(ngModel)]="data.doctor.email" [value]="data.doctor.email" disabled></label>
                        <label>О докторе<input type="text" name="11" [(ngModel)]="data.doctor.condition" [value]="data.doctor.condition"></label>                                
                            <div class="button">
                        <button class="btn submit" (click)="close()" >Назад</button>
                        <button class="btn submit" (click)="update()" >Подтвердить изменения</button>
                        <button class="btn submit" (click)="delete()" >Удалить доктора</button>
                             </div>                             
                    </form>  
             </div>                
    </div>
</div>

  