.ant-input-prefix {
    display: flex !important;
    align-items: center !important;
}
.ant-input.ant-input-lg {
    margin: 0 !important;
}
.auth__register-link {
    margin-top: 10px !important;
}
.icon{
    position: absolute ;
    top: 0;
    left: 0;
    padding: 15px;
}