<section class="form-bg">
    <div class="form">
        <div class="form__enter">
            <h3 class="form-title">Войдите в свой аккаунт</h3>   <br/>
            <form [formGroup]="form" (ngSubmit)="onSubmit()" class="login-form">
                 <div *ngIf="form.errors?.auth" class="error-panel help-block"> <span class="cl"> {{form.errors.auth}} </span></div> 
                 <div *ngIf="!form.errors?.auth" class="help" > f </div> 

                 <br/>

                 <div class="form-group" [ngClass]="{ 'has-error has-feedback' : hasError('Username') }"> 
                 <input type="text" required  formControlName="Username" class="form-control" placeholder="Username or Email address" />
                 <div *ngIf="hasError('Username')" class="help-block"> <span class="cl"> Введите имя пользователя или адрес электронной почты.  </span></div>
                 <div *ngIf="!hasError('Username')" class="help"> Введите имя пользователя или адрес электронной почты. </div>
                 </div>

                 <br/>

                 <div class="form-group" [ngClass]="{ 'has-error has-feedback' : hasError('Password') }">  
                 <input type="password" required   formControlName="Password" class="form-control" placeholder="Password" />
                 <div *ngIf="hasError('Password')" class="help-block"> <span class="cl"> Введите пароль. </span></div>
                 <div *ngIf="!hasError('Password')" class="help"> Введите пароль </div>
                 </div>

                 <br/><br/>

                 <button type="submit" [disabled]="form.invalid" class="btn btn-md btn-success btn-block btn-signin"> Sign in </button>  
                 
   			     <a class="btn btn-md btn-success btn-block btn-signin" [routerLink]="['/register']" class="mode">Создать новый аккаунт</a>	
            </form>
        </div>         
    </div>
</section>





