/* FOOTER */

footer{
    font-size: 12px;
}
footer h5 {
    font-size:15px;
}

footer a {
    color:#a9b7c6;
}

footer a:hover {
    color:#ffffff;
}

hr {
    opacity:0.1;
}

.subscribe-email {
    
    width:76% !important;
    background-color:#3f4e5f !important;
    color:white;
}

.subscribe-submit {
   padding:6% 10%;
    background-position: center center !important;
    background-size: cover !important;
    border:none;
}

p.center {
    margin-bottom: 0 !important;
}
@media screen and (max-width: 1024px) {
    .advantage__img{
        float: left;
        padding: 3%;
        vertical-align:middle;
    }
    .call .container {
        flex-direction: column;
    }

    .call__button, .call__text,.call__number {
        width:100%;
        margin-bottom:20px;
    }

    footer h5 {
        font-size:15px;
        margin-top:20px;
        margin-bottom:30px;
    }

    footer .col.l3.m6.s12 {
        height:270px;
    }
    .registration__btns {
        display:flex;
        flex-direction:column;
        width:30%;
    }

}