.registration {
    background-color:#54667a;
}

.registration__form .btn {
    margin-right:15px;
    border-radius:5px;
    margin-bottom:39px;
}

.twitter {
    background-color:#1daee3;
}

.facebook {
    background-color:#3a5998;
}

.google {
    background-color:#d34836;
}
 .twitter:hover {
    background-color:#1daee3cc;
}

 .facebook:hover {
    background-color:#3a5998be;
}

 .google:hover {
    background-color:#d34836b4;
}

.registration__info {
    margin:70px 0;
}

.registration__info--title {
    color:#f7f7f7;
    font-size:31px;
    font-weight:bold;
    margin:0;
    text-transform:uppercase;
}

.registration__info--subtitle {
    color:#e77e32;
    font-size:31px;
    font-weight:bold;
    margin:0;
    text-transform:uppercase;
}



.registration__form {
    background:white;
    border-radius:5px;
    margin:45px 0;
}

.col.l6.registration__form {
    padding:2%;
}

.registration__form form{
    padding:2% 0;
}

.registration__form--title {
    font-weight:bold;
    font-size:37px;
    margin:0 0 10% 0;
    text-transform:uppercase;
}

.submit,.submit:hover {
    background-color:#e67e33;
    color:black;
    font-weight:bold;
    margin-top:7%;
}
