.bg {
    background-image: url(../../assets/images/header.jpg);
}
* {
    box-sizing: border-box;
}

.cl{
    color: #00FFFF;
}

.admin-header{
    background-color: #54667a;
    color: #ffffff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.admin-name{
padding: 0 0 0 15px;
}

.nav-switch {
    margin-left: 15px;
}
li{
    display: flex;
}
.material-icons{
    color: rgba(255, 255, 255, 0.541);
    padding: 0 10px 0 0;
}
.nav-switch i {
    cursor:pointer;
}

.user-panel{
    display: flex;
    align-items: center;
}



.user-panel__photo {
    width:30%;
    margin-left:10px;
}

.user-panel__photo img {
    width:100%;
}

.admin-page {
    display:flex;
}
.user-panel__name{
    margin: 0;  
}
.admin-nav {
    width:25%;
    background-color: #2b343f;
}
.user-panel__photo {
    span {
        color: white;
        font-size: 20px;
        margin-right: 10px;
    }
}
.link-menu {
    display: flex;
    align-items: center;
     span {
         color: white;
         font-size: 20px;
         margin-right: 10px;
     }
}
.admin-nav .admin-info .admin-photo {
    width:30%;
}

.admin-nav .admin-info .admin-photo img {
    width:100%;
}

.admin-info .admin-name p {
    padding: 0;
    margin: 0;
}

.admin-nav .admin-info {
    color: #ffffff;
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.admin-content {
    width:75%;
}


.admin-menu li {
    background-color: #222d31;
    padding: 10px 10px;
    border-bottom:1px solid #7d8c91;
}

.admin-menu li a {
    color: #7d8c91;
}
.admin-content{
    background-color: #729ea5;
}
.searchform{
    margin: 20px;
    padding: 20px;
    background-color: #f1f1f1;
}
.tableform{
    margin: 20px;
    padding: 20px;
    background-color: #f1f1f1;
}
.form-wrapper {
    display:flex;
    justify-content: space-around;
    width: 100%;
    padding: 40px 15px 15px 20px;
    margin: 20px;
}

.form-wrapper #search {
	width: 330px;
	height: 20px;
	padding: 10px 5px;
	float: left;    
	font: bold 16px 'lucida sans', 'trebuchet MS', 'Tahoma';
	border: 1px solid #ccc;
}


.form-wrapper #submit {
	height: 42px;
	width: 100px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
	color: #fafafa;
	text-transform: uppercase;    
    background-color: #0483a0;
    border: 1px solid #00748f;
}

  
.table1{
    width: 100%;
    padding: 20px 15px 15px 20px;
    margin: 0 auto;
}

.usertable {
    font-size:12px;
    color:#333333;
    width:100%;
    border-width: 1px;
    border-color: #729ea5;
    border-collapse: collapse;
}
.usertable th {
    font-size:12px;
    background-color:#acc8cc;
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #729ea5;
    text-align:left;
}
.usertable tr {
    background-color:#d4e3e5;
}
.usertable td {
    font-size:12px;
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #729ea5;
}
.usertable tr:hover {
    background-color:#ffffff;
}
.admin-page{
    &-main {
        padding: 40px;
        width: 100%;
    }
}