<section class="news">
  <div class="container">
      <div class="row valign-wrapper">
          <div class="col l6 m6">
              <h2 class="news__subtitle">Просмотрите наши</h2>
              <h2 class="news__title">Последние новости и события</h2>
          </div>
              <hr class="col l3 m3">
          <div class="col l3 m3 right-align">
              <a href="#">ПРОСМОТРЕТЬ ПОЛНОСТЬЮ</a>
          </div>
      </div>
      <div class="row">
          <div class="col m3 l3">
              <img class="card__image" src="../../../assets/images/b.jpg" alt="">
              <h2 class="card__title">Название события</h2>
              <span class="card__author">Автор статьи</span>
              <span class="card__date">Дата</span>
              <p class="card__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam repudiandae sequi sint saepe iste</p>
              <a class="card__link">Читать далее</a>
          </div>
          <div class="col m3 l3">
              <img class="card__image" src="../../../assets/images/b.jpg" alt="">
              <h2 class="card__title">Название события</h2>
              <span class="card__author">Автор статьи</span>
              <span class="card__date">Дата</span>
              <p class="card__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam repudiandae sequi sint saepe iste</p>
              <a class="card__link">Читать далее</a>
          </div>
          <div class="col m3 l3">
              <img class="card__image" src="../../../assets/images/b.jpg" alt="">
              <h2 class="card__title">Название события</h2>
              <span class="card__author">Автор статьи</span>
              <span class="card__date">Дата</span>
              <p class="card__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam repudiandae sequi sint saepe iste</p>
              <a class="card__link">Читать далее</a>
          </div>
          <div class="col m3 l3">
              <img class="card__image" src="../../../assets/images/b.jpg" alt="">
              <h2 class="card__title">Название события</h2>
              <span class="card__author">Автор статьи</span>
              <span class="card__date">Дата</span>
              <p class="card__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam repudiandae sequi sint saepe iste</p>
              <a class="card__link">Читать далее</a>
          </div>
      </div>
  </div>
</section>