<div style="background:url(../../../assets/images/header.jpg)"><br/><br/><br/></div>
    <div class="admin-header">
            <div class="nav-switch" id="hum-menu">
                <i class="material-icons">dehaze</i>
            </div>
            <div class="user-panel">
                <p class="user-panel__name">{{Name}}</p>
                <div class="user-panel__photo">
                    <img src="../../../assets/images/user.png" alt="">
                </div> 
            </div>
    </div>

    <div class="admin-page">
        <div class="admin-nav" id="navigation">
            <div class="admin-info">
                <div class="admin-photo">
                    <img src="../../../assets/images/user.png" alt="">
                </div>
                <div class="admin-name">
                    <p>{{Name}}</p>
                    <div class="admin-name__status"><span class="status" class="cl">online</span></div>
                </div>
            </div>
            <ul class="admin-menu">
                    <li class="link-menu" [routerLink]="['/admin_panel/patients']" style="cursor: pointer;">
                        <i class="material-icons">group</i>
                        <a >Список пациентов</a>
                    </li>
                    <li class="link-menu" [routerLink]="['/admin_panel/doctors']" style="cursor: pointer;">
                        <i class="material-icons">group</i>
                        <a >Список докторов</a>
                    </li>

                <li>
                        <i class="material-icons">filter_none</i>
                        <a href="#">Dashboard (in developing)</a>
                    
                    </li>
                    <li>
                        <i class="material-icons">group</i>
                        <a href="#">Users (in developing)</a>
                    </li>
                    <li>
                        <i class="material-icons">library_books</i>
                        <a href="#">Database Joins (in developing)</a>
                    </li>
                    <li>
                        <i class="material-icons">note_add</i>
                        <a href="#">Invoice Example (in developing)</a>
                    </li>
                    <li>
                        <i class="material-icons">backup</i>
                        <a href="#">Backup & Export (in developing)</a>
                    </li>
                    <li>
                        <i class="material-icons">desktop_windows</i>
                        <a href="#">UI Components (in developing)</a>
                    </li>
                    <li>
                        <i class="material-icons">message</i>
                        <a href="#">Charts (in developing)</a>
                    </li>
                    <li>
                        <i class="material-icons">date_range</i>
                        <a href="#">Calendar (in developing)</a>
                    </li>
                    <li>
                        <i class="material-icons">markunread</i>
                        <a href="#">Mailbox (in developing)</a>
                    </li>
                    <li>
                        <i class="material-icons">show_chart</i>
                        <a href="#">Multilevel (in developing)</a>
                    </li>  
                            
            </ul>
        </div>
            <div class="admin-content"> 
                <router-outlet></router-outlet>
            </div>
   </div>
