.ant-form-item-control-input-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ant-form-item-control-input-conten .ant-btn-primary{
    width: 100%;
}