<body>
<section class="doctor-info">
  <div class="container">
      <div class="doctor-row">
          <div class="doctor-photo">
              <img src="../../../assets/images/doctor.jpg" alt="Врач">
          </div>
          <div class="doctor-information">
                  <h2 class="doctor-name">МАКСИМ ИВАНОВ</h2>
                  <h3 class="doctor-position">ВРАЧ-КАРДИОЛОГ</h3>
                  <div class="valign-wrapper doctor-reviews rating">
                    <img src="../../../assets/images/star.png" data-rating = "1" class="rating-item active">
                    <img src="../../../assets/images/star.png" data-rating = "2" class="rating-item">
                    <img src="../../../assets/images/star.png" data-rating = "3" class="rating-item">
                    <img src="../../../assets/images/star.png" data-rating = "4" class="rating-item">
                    <img src="../../../assets/images/star.png" data-rating = "5"class="rating-item"> 
                      <span class="doctor-reviews--info">(8 отзывов)</span>
                  </div>
                  <div class="doctor-btn">
                      <button class="btn blue lighten-5 black-text"><i class="material-icons left">calendar_today</i> Записаться на приём</button>
                  </div>
              </div>
      </div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae expedita voluptates iusto, quam animi tempora eligendi optio quidem hic molestias numquam? Quia dolore, numquam adipisci laborum a repellendus distinctio perferendis, qui ea voluptate dolores quos eos voluptatum quam saepe sint eius, veniam maiores! Eveniet, itaque id nihil perferendis ullam accusamus earum expedita quasi reprehenderit facere dolorum veniam a fuga ipsum, officiis numquam ipsam, aliquam adipisci nam. Molestias eligendi possimus voluptates, asperiores architecto vitae maxime veniam expedita voluptatibus delectus autem, explicabo tempora et culpa molestiae dolorum numquam ducimus dignissimos esse cumque, quod porro praesentium exercitationem? Vitae accusantium deleniti eligendi iusto amet.</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae expedita voluptates iusto, quam animi tempora eligendi optio quidem hic molestias numquam? Quia dolore, numquam adipisci laborum a repellendus distinctio perferendis, qui ea voluptate dolores quos eos voluptatum quam saepe sint eius, veniam maiores! Eveniet, itaque id nihil perferendis ullam accusamus earum expedita quasi reprehenderit facere dolorum veniam a fuga ipsum, officiis numquam ipsam, aliquam adipisci nam. Molestias eligendi possimus voluptates, asperiores architecto vitae maxime veniam expedita voluptatibus delectus autem, explicabo tempora et culpa molestiae dolorum numquam ducimus dignissimos esse cumque, quod porro praesentium exercitationem? Vitae accusantium deleniti eligendi iusto amet.</p>
      </div>
</section>
</body>


